<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Password Updated successfully!</title>
</head>
<body>
<center>
    {% csrf_token %}
    {% block content %}
    {% if msg %}
    <h3>{{msg}}</h3>
    <form action="updatePass/" method="post">
        {% csrf_token %}
        {% block contents %}
        <label>New password</label>
        <input type="password" name="pass1" value="" required><br><br>
        <label>Re-Enter new Password</label>
        <input type="password" name="pass2" value="" required><br><br>

        <input type="submit" name="submit" value="submit">
    </form>
    {% endblock %}
    {% endif %}
    {% if msg2 %}
    <h3>{{msg2}}</h3>
    <button onclick="redirect()">TRY AGAIN</button>
    <button onclick="redirect2()">EXIT</button>
    {% endif %}

    {% if passUpdated %}
    <br>
    <h2><b>{{passUpdated}}</b></h2>
    <button onclick="redirect2()">EXIT</button>
    {% endif %}

    {% if updationFailed %}
    <h2>{{updationFailed}}</h2>
    <button onclick="tryAgain()">Try Again</button>
    <button onclick="redirect2()">EXIT</button>
    {% endif %}

    {% endblock %}
    <script>
    function redirect()
    {
        window.location = "http://127.0.0.1:8000/userLoginPage/forgotUserPass/"
    }
      function redirect2()
    {
        window.location = "http://127.0.0.1:8000/userLoginPage/UserLogin/"
    }
    function tryAgain()
    {
        window.location = "http://127.0.0.1:8000/userLoginPage/forgotUserPass/"
    }

    </script>
</center>
</body>
</html>